@media screen and (max-width: 700px){
    header .nav_items, .button{
        display: none;
    }
    header .btn-menu-mob{
        display: block;
    }
}



@media screen and (max-width: 500px) {
    h1{
        padding-left: 8%;
        font-size: 1.8em;
        padding-top: 35%;
    }
    h4{
        padding-top: 10%;
    }
    .img-recomendacao{
        margin-top: 60%;
        width: 90%;
    }
    .p-recomendacao{
        padding-left: 8%;
        font-size: 1em;
    }
    .btn-filtros{
        padding: 4px 12px;
    }
    button{
        padding: 4px 12px;
    }
    .card-container{
        flex-direction: column;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    footer{
        padding-bottom: 5%;
    }

    footer ul li a{
        display: none;
    }

    .footer-section h3{
        text-align: center;
    }

    .p-footer{
        text-align: center;
        font-size: 1.1em;
    }

    .footer-bottom{
        font-size: 1em;
    }

    .footer-section a, .footer-section2 a{
        display: none;
    }

    .social-icons a{
        display: none;
    }
}

@media screen and (max-width: 418px){
    .btn-filtros{
        padding: 4px 9px;
    }
    button{
        padding: 4px 9px;
    }
}

@media screen and (max-width: 395px){
    .btn-filtros{
        padding: 5px 9px;
    }
    button{
        padding: 5px 8px;
    }
}

@media screen and (max-width: 388px){
    .btn-filtros{
        padding: 5px 7px;
    }
    button{
        padding: 5px 7px;
    }
}