@media screen and (max-width: 900px){
    header .nav_items, .button{
        display: none;
    }
    .grafico{
        position: absolute;
        top: 25%;
        width: 40%;
        margin-left: 7%;
    }
    h1{
        padding-top: 23%;
        padding-right: 4%;
    }

    header .btn-menu-mob{
        display: block;
    }

   
}

@media screen and (max-width: 500px) {
    h1{
        font-size: 1.8em;
        padding-top: 55%;
        padding-left: -10%;
    }

    h2{
        margin-top: 7%;
    }

    h5{
        padding-left: 3%;
    }

    .home{
        height: 100vh;
    }

    .nav_logo{
        padding-top: 3%;
    }

    .grafico{
        margin-top: 75%;
        margin-left: -62%;
        width: 60%;
    }

    .imagem2{
        width: 80%;
        padding-bottom: 4%;
        padding-top: 3%;
        padding-left: 1%;
    }

    .p-projeto, .p2-projeto{
        font-size: 0.8em;
        padding-left: 3%;
        padding-right: 5%;
    }


    .h2-card{
        padding-top: 10%;
    }

    .p-card{
        font-size: 0.8em;
        text-align: center;
    }

    .material-grafico__gallery{
        flex-direction: column;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .form-contato{
       padding-bottom: 15%;
    }

    .forms-fundo{
       height: 620px;
       margin-left: 5%;
       margin-right: 5%;
    }

    .h2-forms{
        padding-top: 10%;
    }

    .field{
        margin-left: 0.5%;
        margin-right: 0.5%;
        padding-left: 10%;
    }

    .p-forms{
        font-size: 0.8em;
    }

    .btn-forms{
        margin-left: 32%;
    }

    footer{
        padding-bottom: 5%;
    }

    footer ul li a{
        display: none;
    }

    .footer-section h3{
        text-align: center;
    }

    .p-footer{
        text-align: center;
        font-size: 1.1em;
    }

    .footer-bottom{
        font-size: 1em;
    }

    .social-icons a{
        display: none;
    }
}

@media screen and (max-width: 407px) {
    .grafico{
        margin-left: -78%;
        position: absolute;
        top: 9%;
    }
    .btn-explorar{
        padding: 10px 27px;
    }
}

@media screen and (max-width: 405px) {
    h1{
        font-size: 1.5em;
    }
    .btn-inicial{
        font-size: 13px;
    }
    .btn-explorar{
        font-size: 13px;
    }
    .grafico{
        margin-top: 50%;
        width: 80%;
        margin-left: -75%;
    }
}